* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: rgb(70, 72, 77);
  line-height: 1.882;
}

a {
  text-decoration: none;
}

.page {
  max-width: 1920px;
  margin: 0px auto;
  position: relative;
}

._container {
  max-width: 960px;
  margin: 0px auto;
}

.btn {
  border: solid 2px rgb(151, 155, 166);
  border-radius: 20px;
  background: transparent;
  height: 42px;
  padding: 0px 23px;
  font-family: Roboto;
  color: rgb(203, 0, 61);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease 0s;
}
.btn:hover {
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.btn_red {
  border: solid 2px rgb(203, 0, 61);
  background-color: #cb003d;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  color: #ffffff;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  width: 960px;
  border-bottom: 1px solid #e0e1e1;
  margin: 0px auto;
  background-color: #fff;
}
.header__container {
  height: 92px;
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 19px 0px;
}
.header__wrapper-image {
  flex: 1 1 auto;
}
.header__logo {
  height: 37px;
  position: relative;
  top: 10px;
}
.header__phone {
  font-size: 18px;
  color: rgb(81, 83, 89);
  margin: 0px 38px 0px 31px;
  position: relative;
  bottom: 4px;
  font-weight: 300;
}
.header__phone::before {
  content: "";
  display: block;
  background: url(https://raw.githubusercontent.com/Arximed-A/no_logo_studio/main/src/assets/icon/phone.jpg) center no-repeat;
  position: absolute;
  left: -31px;
  top: 3px;
  width: 25px;
  height: 27px;
}

.main__menu {
  padding: 92px 0px 0px 0px;
}
.main__text {
  padding: 192px 0px 0px 0px;
  position: relative;
  z-index: 2;
}
.main__img {
  position: absolute;
  z-index: 0;
  top: 155px;
}

.menu {
  height: 170px;
  display: flex;
  align-items: center;
}
.menu__item {
  font-size: 13px;
  margin: 0px 48px 0px 0px;
  color: rgb(81, 83, 89);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: border-bottom 0.3s ease 0s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.menu__item:hover {
  border-bottom: 1px solid rgba(58, 11, 11, 0.87);
}

.text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-main__item {
  font-size: 60px;
  color: #ffffff;
  font-weight: 200;
  line-height: 1;
  margin: 0px 0px -3px 0px;
}
.text-main__item_white {
  font-weight: 700;
  width: 480px;
  line-height: 61px;
  letter-spacing: 0.5px;
  margin: -1px 0px 0px 0px;
}
.text-main__item_black {
  font-size: 100px;
  font-weight: 700;
  color: #3a3c40;
  margin: 0px 0px -7px 0px;
}
.text-main__button {
  margin: 53px 0px 0px 0px;
}
.text-main__img {
  position: absolute;
  z-index: -1;
  top: 42px;
  right: -78px;
}

.about {
  position: relative;
}
.about__container {
  display: flex;
  padding: 400px 0px 0px 0px;
}
.about__background {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
}
.about__title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin: 0px 0px 107px 0px;
}
.about__item {
  margin: 0px 0px 32px 0px;
  letter-spacing: -0.59px;
  color: rgb(70, 72, 77);
}
.about__text {
  flex: 0 0 450px;
  font-weight: 300;
  line-height: 1.882;
  margin: 0px 80px 0px 0px;
}
.about__img {
  height: 14px;
}

.image-about__item:first-child {
  position: relative;
  top: 5px;
}
.image-about__item:nth-child(2) {
  position: relative;
  top: 14px;
  left: 10px;
}
.image-about__item:last-child {
  position: relative;
  top: -33px;
}

.footer {
  position: relative;
  height: 900px;
}
.footer__background {
  position: absolute;
  top: 53px;
  z-index: -2;
}
.footer__location {
  position: absolute;
  left: 936px;
  top: 400px;
  z-index: -1;
}
.footer__container {
  position: absolute;
  bottom: -53px;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  width: 1024px;
  margin: 0px auto;
  padding: 23px 32px 0;
  height: 147px;
}
.footer__column:first-child {
  flex: 0 0 510px;
}
.footer__raw {
  display: flex;
}
.footer__title {
  font-size: 13px;
  color: rgb(58, 60, 64);
  flex: 0 0 75px;
}
.footer__text {
  font-size: 13px;
  color: rgb(116, 119, 128);
}
.footer__text:last-child {
  margin: 0px 0px 4px 0px;
}
.footer__text_red {
  color: #cb003d;
}
.footer__copy {
  font-size: 13px;
}