* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: rgb(70, 72, 77);
  line-height: 1.882;
}
a {
  text-decoration: none;
}
.page {
  max-width: 1920px;
  margin: 0px auto;
}
._container {
  max-width: 960px;
  margin: 0px auto;
}
//========================================================================================================================================================
// bloks
.btn {
  border: solid 2px rgb(151, 155, 166);
  border-radius: 20px;
  background: transparent;
  height: 42px;
  padding: 0px 23px;
  font-family: Roboto;
  color: rgb(203, 0, 61);
  font-weight: bold;
  cursor: pointer;
  &_red {
  }
}

//========================================================================================================================================================

.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 960px;
  border-bottom: 1px solid #e0e1e1;
  margin: 0px auto;
  background-color: #fff;
  &__container {
    height: 92px;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 19px 0px;
  }
  &__wrapper-image {
    flex: 1 1 auto;
  }
  &__logo {
    height: 37px;

    position: relative;
    top: 10px;
  }
  &__phone {
    font-size: 18px;
    color: rgb(81, 83, 89);
    margin: 0px 38px 0px 31px;
    position: relative;
    &::before {
      content: "";
      display: block;
      background: url(https://raw.githubusercontent.com/Arximed-A/no_logo_studio/main/src/assets/icon/phone.jpg) center
        no-repeat;
      position: absolute;
      left: -31px;
      top: 0;
      width: 25px;
      height: 27px;
    }
  }
  &__button {
  }
}
//========================================================================================================================================================
// main
.main {
  &__menu {
    padding: 92px 0px 0px 0px;
  }
  &__text {
    background: url("../../assets/img/background.png");
  }
  &__button {
  }
}
.menu {
  height: 170px;
  display: flex;
  align-items: center;
  &__item {
    font-size: 13px;
    margin: 0px 48px 0px 0px;
    color: rgb(81, 83, 89);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    font-size: 60px;
    // color: #ffffff;
    &_white {
      font-weight: 700;
    }
    &_black {
      font-size: 100px;
    }
  }
}
